## How to concat multiple .csvs into a single .csv in arranged in Columns

In [1]:
import pandas as pd
from os import listdir

In [2]:
pwd

'/Users/bashirm/Dropbox/CodeRoom/2018-jan-dec'

In [3]:
directory = 'data'

In [4]:
data = pd.DataFrame()
for file in listdir(directory):
    filename = directory+"/"+file
    dd = pd.read_csv(filename)
    dd.columns = ["{}_{}".format(file.split(".")[0], i) for i in dd.columns]
    data= pd.concat([data, dd[dd.columns[1::]]], axis=1)
    
    time = pd.DataFrame(dd[dd.columns[0]])
    time.columns = ['time']
data = pd.concat([time, data], axis=1)

In [5]:
data.to_csv("2018concat_data.csv")

In [6]:
data.shape

(8737, 97)

In [7]:
data.head()

,time,SACR_SUNN_in,SACR_SUNN_out,LOND_NEWY_in,LOND_NEWY_out,JGI_SACR_in,JGI_SACR_out,HOUS_PANTEX_in,HOUS_PANTEX_out,BOIS_PNWG_in,...,AMST_LOND_in,AMST_LOND_out,FNAL_STAR_in,FNAL_STAR_out,BOST_STAR_in,BOST_STAR_out,BOST_NEWY_in,BOST_NEWY_out,ATLA_WASH_in,ATLA_WASH_out
0,2018-01-01 09:00:00,1.345362e+10,9.191558e+09,1.242256e+09,5.181239e+09,4.375739e+04,4.701692e+08,4.930735e+07,2.024036e+07,7.070847e+06,...,4.157574e+09,7.468747e+09,1.943452e+08,3.058273e+08,4.952796e+09,1.096238e+10,7.879534e+09,2.225971e+09,3.043124e+09,4.402875e+09
1,2018-01-01 10:00:00,1.216888e+10,7.793842e+09,2.006322e+09,1.224286e+10,4.315725e+04,2.543191e+08,5.684365e+07,1.307625e+07,5.132826e+07,...,6.164468e+09,1.451626e+10,2.368597e+08,2.297360e+08,7.193835e+09,1.840171e+10,1.573402e+10,2.598615e+09,3.254450e+09,3.451973e+09
2,2018-01-01 11:00:00,1.123120e+10,7.097238e+09,1.073181e+09,4.717642e+09,8.277154e+07,1.670671e+08,4.664524e+07,1.534413e+07,5.217827e+06,...,3.856222e+09,7.139046e+09,2.644591e+07,8.776042e+07,4.389148e+09,7.153226e+09,7.690503e+09,1.992397e+09,3.717638e+09,5.663406e+09
3,2018-01-01 12:00:00,1.078085e+10,8.048294e+09,8.645069e+08,1.987249e+09,3.343548e+04,1.137023e+08,3.096695e+07,2.302353e+07,7.495363e+06,...,2.483093e+09,4.691328e+09,3.782775e+07,7.183373e+07,2.982568e+09,4.568829e+09,4.828736e+09,2.083069e+09,3.753083e+09,4.915730e+09
4,2018-01-01 13:00:00,1.073063e+10,7.449518e+09,2.095669e+09,2.365351e+09,1.827496e+05,1.798477e+08,4.921667e+07,1.675123e+07,5.446681e+06,...,3.691804e+09,4.618420e+09,2.962602e+08,1.164944e+08,5.078842e+09,6.674401e+09,5.447330e+09,2.850519e+09,3.131658e+09,6.144426e+09