In [2]:
import pandas as pd
from pandas.io.json import json_normalize
import os
import json

In [3]:
os.listdir()

['.DS_Store',
 'Untitled.ipynb',
 'tmf-2018.json',
 '.ipynb_checkpoints',
 'script.py']

In [5]:
## jsonfile is the path to the location of your json file

## read in json file
with open('tmf-2018.json', 'r+') as ff:
    data = json.load(ff)
ff.close()

In [21]:
### make an empty data frame to hold data in csv format
df = pd.DataFrame()

In [22]:
###jsondata is the data youy sent
flows = data['data']['networkEntity']['flow']
len(flows)

7

In [23]:
for i in range(0, len(flows)): 
    dd = json.loads(flows[i]['traffic']) ### converting the string in traffic to json object
    dd2=pd.DataFrame(dd['points'])
    dd2.columns = dd['columns']
    df = pd.concat([df, dd2], axis=0)

In [24]:
df

              time  in  out
0    1512432000000   0    0
1    1512518400000   0    0
2    1512604800000   0    0
3    1512691200000   0    0
4    1512777600000   0    0
..             ...  ..  ...
361  1543622400000   0    0
362  1543708800000   0    0
363  1543795200000   0    0
364  1543881600000   0    0
365  1543968000000   0    0

[2562 rows x 3 columns]

In [26]:
df.to_csv('flows.csv')

In [27]:
os.listdir()

['.DS_Store',
 'Untitled.ipynb',
 'flows.csv',
 'tmf-2018.json',
 '.ipynb_checkpoints',
 'script.py']