In [2]:
import pandas as pd

In [16]:
df_mse = pd.read_csv('mse_aofa_lond_in.csv')

In [17]:
df_mse = df_mse.set_index('Days')

In [18]:
df_mse.head()

            y_forecasted     y_truth
Days
20/12/2018    224.968104  223.388826
21/12/2018    215.286921  215.879720
22/12/2018    224.871591  228.973823
23/12/2018    195.290155  181.240180
24/12/2018    194.205838  114.956234

In [19]:
df_mse.columns

Index(['y_forecasted', 'y_truth'], dtype='object')

In [20]:
x = df_mse['y_forecasted']

In [22]:
y = df_mse['y_truth']

In [25]:
mse = ((x - y) ** 2).mean()
print('The Mean Squared Error of our forecasts is {}'.format(round(mse, 2)))

The Mean Squared Error of our forecasts is 1625.45