## How to concat multiple .csvs into a single .csv in arranged in Columns

In [1]:
import pandas as pd
from os import listdir

In [2]:
pwd

'/Users/bashirm/Documents/GitHub/daphne/Documentation_scripts_master/convert_multiple_csvs_to_one/2019-jan-dec'

In [3]:
directory = 'data'

In [4]:
data = pd.DataFrame()
for file in listdir(directory):
    filename = directory+"/"+file
    dd = pd.read_csv(filename)
    dd.columns = ["{}_{}".format(file.split(".")[0], i) for i in dd.columns]
    data= pd.concat([data, dd[dd.columns[1::]]], axis=1)
    
    time = pd.DataFrame(dd[dd.columns[0]])
    time.columns = ['time']
data = pd.concat([time, data], axis=1)

In [5]:
data.to_csv("2019_concat_data.csv")

In [6]:
data.shape

(8737, 105)

In [7]:
data.head()

,time,SACR_SUNN_in,SACR_SUNN_out,LOND_NEWY_in,LOND_NEWY_out,JGI_SACR_in,JGI_SACR_out,HOUS_PANTEX_in,HOUS_PANTEX_out,BOIS_PNWG_in,...,AMST_LOND_in,AMST_LOND_out,FNAL_STAR_in,FNAL_STAR_out,BOST_STAR_in,BOST_STAR_out,BOST_NEWY_in,BOST_NEWY_out,ATLA_WASH_in,ATLA_WASH_out
0,2019-01-01 09:00:00,1.133655e+10,1.353560e+10,1.308054e+10,1.118905e+10,9.856045e+04,2.161109e+08,4.958271e+07,1.225558e+08,1.203009e+07,...,2.028780e+10,8.791009e+09,6.157185e+07,2.363276e+05,4.840072e+08,5.048601e+08,3.100098e+09,1.412909e+09,5.879588e+09,1.308217e+10
1,2019-01-01 10:00:00,1.033284e+10,1.277450e+10,1.346870e+10,9.126663e+09,3.906243e+07,5.634560e+07,1.912810e+07,6.069445e+07,1.087812e+07,...,2.174398e+10,8.993189e+09,3.081849e+07,1.190536e+08,5.102085e+08,8.270927e+08,2.746086e+09,1.318666e+09,5.768907e+09,1.341289e+10
2,2019-01-01 11:00:00,8.876761e+09,1.160661e+10,1.189719e+10,1.274241e+10,4.859224e+07,7.115637e+07,2.070451e+07,1.571161e+07,3.951148e+07,...,2.215961e+10,8.881044e+09,7.118097e+06,1.023241e+08,5.325426e+08,3.344625e+08,2.094773e+09,1.450597e+09,6.436416e+09,1.308143e+10
3,2019-01-01 12:00:00,1.141132e+10,1.148750e+10,1.297900e+10,1.207547e+10,4.571019e+04,8.294493e+07,3.326195e+06,1.071702e+07,1.091743e+07,...,1.942219e+10,1.246489e+10,7.322032e+07,1.048417e+08,3.268280e+09,6.440082e+08,1.719274e+09,9.510493e+08,7.083091e+09,1.485971e+10
4,2019-01-01 13:00:00,1.293554e+10,1.166589e+10,1.139435e+10,1.383934e+10,6.438687e+04,8.829242e+07,1.483401e+07,1.229402e+07,4.991357e+07,...,2.051460e+10,1.104386e+10,6.738803e+07,1.179567e+07,2.481459e+08,5.165409e+08,1.410758e+09,1.211944e+09,1.068952e+10,1.541085e+10